/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    width: 100%;
    background-color: #333;
    color: #fff;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #bbb;
}

/* About Me Section */
.about-me {
    padding: 20px;
    text-align: center;
    align-items: center;
    
}

.center-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    width: 200px;
    height: auto
    object-fit contain; /* Ensures the photo covers the container and maintains its aspect ratio */
    align-items: center;
    
}


/* Skills */
.skills {
    padding: 20px;
    text-align: center;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

.skills-list li {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.Projects {
    justify-content: center;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.project-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease;
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card p {
    padding: 10px;
}

.project-card:hover {
    transform: translateY(-5px);
}

/* Contact */
.contact {
    padding: 20px;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact label {
    margin: 5px 0;
}

.contact input {
    margin: 5px 0;
    padding: 5px;
    width: 200px;
}

.contact button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background-color: #555;
}


/* Footer */
footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}
